.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contact-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
}

.titleLink-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.title-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    margin-bottom: 200px;
}