.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #88AB8A;

}

.home-container-sectionOne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
   

}

.photoButtonText-home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.skills-home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px 20px;

}

.text-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.ButtonText-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin: 10px;
    
}

.text-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cvMailButtons-home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

.buttons-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

.cv-home{
    
    width: 100px;
height: 50px;
margin: 10px;
border-radius: 5px;
cursor: pointer;
background-color: white;
color: var(--verde);
opacity: 0;
border: none;

}

.mail-home{
    width: 100px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: var(--verde);
    opacity: 0;
    border: none;
}

.buttonSkills-home{
    background-color: white;
    color: var(--verde);
    font-size: 20px;
    font-weight: bold;
    width: 100px;
height: 50px;
border-radius: 5px;
margin: 10px;
cursor: pointer;
opacity: 0;
border: none;

}

.img-home{
    width: 500px;
    height: 500px;
    
    margin: 10px;
   
   
}

.photo-home{
    opacity: 0;
}

.icons-home{
    width: 40px;
    height: 40px;
    font-family: var(--titulo1);
   
    
}

.circle-home{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.logo-home{
    margin: 0px 5px;
}
.opacity{
    opacity: 0;
}

.pdfLink{
    text-decoration: none;
    color: var(--verde);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.im-home{
    opacity: 0;
    color: black;
    font-family: var(--titulo1);
}

.job-home{
    opacity: 0;  
    color: black; 
    font-family: var(--titulo1);
}

.buttonSkills-home{
font-family: var(--titulo1);
}

.home-container-sectionTwo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    background-color: var(--rosa);
    width:100%;
    padding: 100px 0px;
  
    
}

.certifications-title{
    margin-bottom: 30px;
    font-family: var(--titulos);
    font-size: 60px;
    margin-top: 20px;
}

.logo-title-about{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid black;
    width: 100%;
    
    background-color: var(--lila);
   
}

.aboutMe-title{
    font-family: var(--titulos);
    font-size: 60px;
    margin-top: 20px;
}

.who-about{
    font-family: var(--titulo1);
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
   
}

.certification-about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    border: 1px solid black;
    box-shadow: 5px 5px 5px #c7a09e;
    margin-top: 20px;
  

    
}

.certification-container-about{
    width: 100%;
}

.description-certification{
    padding: 10px;
   
    width: 100%;
    display: flex;
    flex-direction: row;
   

   
}

.coder-icon{
    height: 40px;
    margin: 5px;
}

.techo-icon{
    height: 40px;
    margin: 5px;
}

.job-about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    border: 1px solid black;
    box-shadow: 5px 5px 5px #c7a09e;
    margin-top:20px;
    width: 100%;

}

.logo-jobTitle-about{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid black;
    width: 100%;
    
    background-color: var(--lila);
}

.description-job{
    padding: 10px;
   
    width: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.about-left-container, .about-right-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
    height: 100%;
   

}

.job-container-about{
    width: 100%;
    
}

.aboutMe-text{
    width: 100%;
    font-family: var(--titulo1);
    font-size: 20px;
    text-align: left;
}

.currentlyStudying-about{
    font-family: var(--titulo1);
    font-size: 20px;
}



@media only screen and (max-width:500px) {
    .img-home{
        width: 200px;
        height: 200px;

        margin: 10px;
    }

    h1{
        font-size: 20px;
        width: 90%;
    }

    .buttons-home{
 
        flex-direction: row;
       
    
    }

    .skills-home{
       
        margin: 20px;
    }

    .home-container-sectionTwo{
        
        flex-direction: column;
       
        
    }

    .about-left-container, .about-right-container{
     
        width: 90%;
       
    
    }
    
    .job-home{
        font-size: 20px;
    }

    .cv-home{
width: 80px;
    }
    .mail-home{
        width: 80px;
    }

    .buttonSkills-home{
        width: 80px;
    }
}