.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    

}

.home-container-sectionOne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   height: 100vh;
    background-color: #88AB8A;
    width: 100%;
    background: linear-gradient(to bottom, #88AB8A , white);


}

.photoButtonText-home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.skills-home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px 10px;

}

.text-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.ButtonText-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin:50px 10px;
    
}


.cvMailButtons-home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

.buttons-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

.cv-home{
    
    width: 100px;
height: 50px;
margin: 10px;
border-radius: 5px;
cursor: pointer;
background-color: white;
color: var(--verde);
opacity: 0;
border: none;
box-shadow: 2px 2px 2px rgb(113, 119, 115);

}

.mail-home{
    width: 100px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: var(--verde);
    opacity: 0;
    border: none;
    box-shadow: 2px 2px 2px rgb(113, 119, 115);
}

.buttonSkills-home{
    background-color: white;
    color: var(--verde);
    font-size: 20px;
    font-weight: bold;
    width: 100px;
height: 50px;
border-radius: 5px;
margin: 10px;
cursor: pointer;
opacity: 0;
border: none;
box-shadow: 2px 2px 2px rgb(113, 119, 115);

}

.img-home{
    width: 200px;
    height: 200px;
    
    margin: 10px;
    border-radius: 10px;
    
   
   
}

/* .photo-home{
    opacity: 0;
    margin-left: 10px;
} */

.icons-home{
    width: 40px;
    height: 40px;
    font-family: var(--titulo1);
   
    
}

.circle-home{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.logo-home{
    margin: 0px 5px;
}
.opacity{
    opacity: 0;
}

.pdfLink{
    text-decoration: none;
    color: var(--verde);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.im-home{
    opacity: 0;
    color: black;
    font-family: var(--titulo1);
}

.job-home{
    opacity: 0;  
    color: black; 
    font-family: var(--titulo1);
}

.job-home2{
    opacity: 0;  
    color: rgb(59, 59, 59); 
    font-family: var(--titulo1);
    font-size: 14px;
}

.buttonSkills-home{
font-family: var(--titulo1);
}

.home-container-sectionPhrase{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 450px;
    background-color: white;
    width:100%;
    
}

.phrase{
    font-family: var(--titulos);
    font-size: 60px;
}

.wo{
    font-family: var(--cursiva2);
    font-size: 30px;
    color: var(--verde);
}

.home-container-sectionTwo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    background-color: var(--rosa);
    width:100%;
    padding-top: 200px;
    padding-bottom: 150px;
    border-radius: 250px 0px 250px 0px;
  
    
}

.certifications-title{
    margin-bottom: 30px;
    font-family: var(--titulos);
    font-size: 60px;
    margin-top: 20px;
}

.logo-title-about{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid black;
    width: 100%;
    border-radius: 10px;
    background-color: var(--lila);
   
}

.aboutMe-title{
    font-family: var(--titulos);
    font-size: 60px;
    margin-top: 20px;
}

.who-about{
    font-family: var(--titulo1);
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
   
}

.certification-about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    border: 1px solid black;
    box-shadow: 5px 5px 5px #c7a09e;
    margin-top: 20px;
    border-radius: 10px;

    
}

.certification-container-about{
    width: 100%;
}

.description-certification{
    padding: 10px;
   
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: var(--titulo1);
    font-weight: bold;
   

   
}

.coder-icon{
    height: 40px;
    margin: 5px;
}

.techo-icon{
    height: 40px;
    margin: 5px;
}

.job-about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    border: 1px solid black;
    box-shadow: 5px 5px 5px #c7a09e;
    margin-top:20px;
    width: 100%;
    border-radius: 10px;

}

.logo-jobTitle-about{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid black;
    width: 100%;
    border-radius: 10px;
    background-color: var(--lila);
}

.description-job{
    padding: 10px;
   
    width: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: var(--titulo1);
    font-weight: bold;
}

.about-left-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
    height: 100%;
}

.about-right-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
    height: 100%;
   

}

.job-container-about{
    width: 100%;
    
}

.aboutMe-text{
    width: 100%;
    font-family: var(--cursiva2);
    font-size: 24px;
    text-align: left;
    margin: 10px 0px 10px 0px;

}
.gorro-texto-home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.currentlyStudying-about{
    font-family: var(--cursiva2);
    font-size: 24px;
    margin-left: 5px;
}

.home-container-sectionThree{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 0px;
    
}

.left{
    text-align: left;
}

.right{
    text-align: right;
    align-self: flex-end;
}

.center{
    text-align: center;
}

.experience-text{
    font-family: var(--cursiva2);
    font-size: 30px;
    margin: 20px 0px;
    font-weight: lighter;
}

.margin-top{
    margin-top: 60px;
}
.pink{
    color: var(--rosa);
    font-size: 38px;
    font-weight: bold;
}

.ushuaia{
    border-radius: 20px;
}

.noLink{
    text-decoration: none;
    color: var(--verde);
}

.noLinkJob{
    text-decoration: none;
    color: black;
}



@media only screen and (max-width:500px) {
    .img-home{
        width: 150px;
        height: 150px;

        margin: 0px;
    }

    h1{
        font-size: 35px;
        width: 350px;
    }

    .buttons-home{
 
        flex-direction: row;
       
    
    }

    .skills-home{
       
        margin: 20px;
    }

    .home-container-sectionTwo{
        
        flex-direction: column;
        border-radius: 100px 0px 100px 0px;
        padding-top: 80px;
      
    }

    .about-left-container{
        width: 90vw;
    
    }
    .about-right-container{
     margin-top: 80px;
        width: 90vw;
      
    
    }
    
    .job-home{
        font-size: 20px;
    }

    .cv-home{
width: 80px;
margin: 5px;
    }
    .mail-home{
        width: 80px;
        margin: 5px;
    }

    .buttonSkills-home{
        width: 80px;
        margin: 5px;
    }
.home-container-sectionPhrase{
    padding: 0 20px;
    width:90vw;
    height: 100vh;
}
.phrase{
text-align: center;
width: 80vw;


}
.wo{
text-align: center;
}
.home-container-sectionThree{
    padding: 0 20px;
   
}
   

.about-left-container{
  
    width: 90vw;
   
}

.about-right-container{
    width: 90vw;
   
   

}

}