.projects-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--rosa);
   
}

.projects-section{
    background-color: #D9AEAC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

.projects-title{
    margin: 30px 10px 70px 10px;
    font-family: var(--titulos);
    font-size: 80px;

}

.projectsBox-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.projectBox{
    background-color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 20px;
    box-shadow:  8px 8px 13px #b49290,
    -8px -8px 13px #D9AEAC;
opacity: 0;
             
}

.img-project-container{
width: 400px;
height: 300px;
background-color: green;
overflow: hidden;
border-radius: 10px;


}



.projectName-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 400px;
    height: 50px;
    padding: 5px;
    background-color: white;
}

.projectName-container h2{
    font-size: 18px;
}

.project-button{
    background-color: var(--lila);
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
   
   

}

.plus{
    margin: auto;
    width: 30px;
    height: 30px;
}

.modal{
    background: rgba(33, 41, 52, .85);
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    position: fixed;
    z-index: 999;
   

}

.window{
    background: #fff;
    border-radius: 10px;
    border: 5px solid var(--verde);
    box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 600px;
    min-width: 320px !important;
    overflow: hidden;
    position: relative;
    width: 100%;
    
    font-size: 1.3rem;

}

.x-projects{
    color: var(--verde);
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    align-self: flex-end;
    border: 3px solid var(--verde);
    cursor: pointer;
}

.window-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 20px;
    font-size: 16px;
}

.window-description{
text-align: center;
margin: 10px 0px;
font-size: 16px;
}

.window-header{
    background-color: var(--verde);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.red{
    color: red;
    text-align: center;
    font-size: 16px;
}

h4{
    margin-bottom: 10px;
}

.window-list{
    margin: 10px 0px;

}

.freelance-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    background-color: white;
    opacity: 1;
    height: 500px;
    width: 100%;
    
}
.mail-projects{
    width: 100px;
    height: 50px;
    margin: 30px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--rosa);
    color: white;
    border: none;
    opacity: 0;
    box-shadow: 2px 2px 2px rgb(113, 119, 115);
}
.freelance-textMail-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 300px ;
}

.freelance-text{
    opacity: 0;
    font-family: var(--titulo1);
    font-size: 40px;
    font-weight: bold;
}

.freelance-text2{
    opacity: 1;
    font-family: var(--titulos);
    font-size: 55px;
    margin: 30px 0px;
}

@media only screen and (max-width:500px) {
.projectBox{
    
    margin: 20px 2px;
    
             
}

.img-project-container{
    width: 300px;
    height: 200px;
   
    
    
    }
    .projectName-container{
      
        width: 300px;
        
        
        
    }
    
}