/*
.carousel .carousel-slider {
    top: 0;
		left: 0;
}
.carousel .carousel-slider .carousel-fixed-item .with-indicators{
    bottom: 68px;
}
.carousel .carousel-slider .carousel-fixed-item{
    position: absolute;
			left: 0;
			right: 0;
			bottom: 20px;
			z-index: 1;
}
.carousel .carousel-slider .carousel-item{
    width: 100%;
			height: 100%;
			min-height: var(--carousel-height) ;
			position: absolute;
			top: 0;
			left: 0;
}
.carousel .carousel-slider .carousel-item h2{
    font-size: 24px;
				font-weight: 500;
				line-height: 32px;
}
.carousel .carousel-slider .carousel-item  p{
    font-size: 15px;
}
.carousel{
    overflow: hidden;
	position: relative;
	width: 100%;
	height: var(--carousel-height);
	perspective: 500px;
	transform-style: preserve-3d;
	transform-origin: 0% 50%;
}
.carousel .carousel-item{
    border: 1px solid #fff;

		visibility: hidden;
		width: var(--carousel-item-width);
		height: var(--carousel-item-height);
		position: absolute;
		top: 0;
		left: 0;
}
.carousel .carousel-item > img{
    width: 100%;
			height: 100%;
			object-fit: cover;
}

.carousel .indicators:first-of-type{
    
    display: none;
  }
  .carousel .indicators{
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: -25px;
    margin: 0;
  }
  .carousel .indicators .indicator-item{
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 24px 4px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transition: background-color 0.3s;

  }
  .carousel .indicators .indicator-item .active{
    background-color: #fff;
  }
  .carousel .scrolling .carousel-item .materialboxed,
  .carousel-item:not(.active) .materialboxed {
      pointer-events: none;
  }
  .carousel-section{
	padding: 3rem 1rem;
	background: linear-gradient(to bottom, #000, rgba(14, 6, 65, .68));
}
.carousel{
	margin: 4vw 0;
}
*/