.footer-container {
    background-color: var(--verdeClaro);
    padding: 5px;
}

.copyright-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--verde);
    padding: 5px;
}

.overCopyright-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.text-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.thanks-footer {
    margin-bottom: 10px;
    font-family: var(--cursiva2);
    font-size: 25px;
}

.footer-text {
    font-family: var(--titulo1);
    font-size: 14px;
}

.icon-footer {
    width: 30px;
    height: 30px;
    margin: 5px;
}

.linkGithub-footer {
    text-decoration: none;
    color: black;
}

.linksFooter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 5px;
}

.linkLinkedin-footer {
    text-decoration: none;
    align-items: center;
}

.iconMail-footer {
    width: 50px;
    height: 50px;
    margin: 5px;
    color: black;
}

.linkedin {
    color: black;
}

.pdfLinkFooter {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.icons-cv-footer {
    width: 40px;
    height: 40px;
}

.cv-footer {
    background-color: var(--rosa);
    border-radius: 5px;
    border: none;
    margin: 10px;
    width: 60px;
}

.justify-text {
    text-align: center;
    margin: 5px;
}

@media only screen and (max-width:500px) {
    .overCopyright-container {
        flex-direction: column;
    }

    .thanks-footer {
        text-align: center;
    }
}