.navbar-container {
    right: 0;
    width: 100vw;
    position: fixed;
    top: -270px;
    z-index: 2000;
}

.linksContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--rosa);
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 250px;
    border-bottom: 5px solid var(--lila);
}

.menu-layer {
    background-color: var(--lila);
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 60px;
}

.x {
    background-color: var(--verdeClaro);
    width: 100%;
    display: block;
    position: absolute;
    z-index: 10;
}

.xButton {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--rosa);
    color: white;
    border: 1px solid white
}

.box-home {
    background-color: gold;
}

.nav-links {
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.nav-links:hover .navBar-icons {
    color: var(--amarillo);
}

.rosa {
    border-radius: 50%;
    background: radial-gradient(at top left, #6f8b70, #88AB8A);
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: context-menu;
}

.amarillo {
    border-radius: 50%;
    background: radial-gradient(at top left, #e9e3ad, #fcf6bd);
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: context-menu;
}

.verde {
    border-radius: 50%;
    background: radial-gradient(at top left, #abb892, #BCCAA1);
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: context-menu;
}

.celeste {
    border-radius: 50%;
    background: radial-gradient(at top left, #5a6f70, #698283);
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: context-menu;
}

.lila {
    border-radius: 50%;
    background: radial-gradient(at top left, #9b7b8d, #AF8B9F);
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: context-menu;
}

.navBar-icons {
    width: 40px;
    height: 40px;
    color: white
}

@media only screen and (max-width:500px) {
    .nav-links {
        width: 60px;
        height: 60px;
    }
}