* {
  padding: 0;
  margin: 0;
}

h1 {
  margin: 10px 3px;
  color: white;
  opacity: 0;
  font-family: var(--h1);
  font-size: 50px;
  width: 500px;
  text-shadow: 0.8px 0.8px 0.8px var(--rosaOscuro);
}

h3 {
  font-family: var(--titulo1);
}

a {
  text-decoration: none;
  color: var(--verde);
}


:root {
  --rosa: #D9AEAC;
  --amarillo: #fcf6bd;
  --verde: #88AB8A;
  --verdeClaro: #BCCAA1;
  --lila: #AF8B9F;
  --celeste: #8babac;

  --rosaOscuro: #f15bb5;
  --amarilloOscuro: #fee440;
  --verdeOscuro: #00f5d4;
  --celesteOscuro: #00bbf9;
  --lilaOscuro: #9b5de5;


  --h1: 'Dancing Script', cursive;
  --bloque: 'Josefin Sans', sans-serif;
  --titulo1: 'Raleway', sans-serif;
  --titulo2: 'Lora', serif;
  --titulo3: 'Nunito', sans-serif;
  --cursiva1: 'Great Vibes', cursive;
  --cursiva2: 'Handlee', cursive;
  --titulos: 'Square Peg', cursive;


  --carousel-height: 400px;
  --carousel-item-height: var(--carousel-height)* .80;
  --carousel-item-width: var(carousel-item-height) * 4 / 5;
}